<div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-6 side-image">
                <img src="/matchwise-yazisiz.png">
                <div class="text">
                    <p>HOŞGELDİNİZ</p>
                </div>
            </div>
            <div class="col-md-6 right">
                <div class="input-box">
                    <header>Kayıt Ol</header>
                    <div class="input-field">
                        <input type="text" class="input" id="corporateName" autocomplete="off" required>
                        <label for="corporateName">
                            <i class='bx bxs-business'></i>
                            <span>Şirket Adı</span>
                        </label>
                    </div>
                    <div class="input-field">
                        <input type="text" class="input" id="taxNumber" autocomplete="off" required>
                        <label for="taxNumber">
                            <i class='bx bxs-key'></i>
                            <span>Vergi Numarası</span>
                        </label>
                    </div>
                    <div class="input-field">
                        <input type="text" class="input" id="sector" autocomplete="off" required>
                        <label for="sector">
                            <i class='bx bxs-detail'></i>
                            <span>Sektör</span>
                        </label>
                    </div>
                    <div class="input-field">
                        <input type="text" class="input" id="location" autocomplete="off" required>
                        <label for="location">
                            <i class='bx bxs-location-plus'></i>
                            <span>Konum(Şehir)</span>
                        </label>
                    </div>
                    <div class="input-field">
                        <input type="text" class="input" id="email" autocomplete="off" required>
                        <label for="email">
                            <i class='bx bxs-envelope'></i>
                            <span>Email</span>
                        </label>
                    </div>
                    <div class="input-field">
                        <input type="password" class="input" id="password" autocomplete="off" required>
                        <label for="password">
                            <i class='bx bxs-lock-alt'></i>
                            <span>Şifre</span>
                        </label>
                    </div>
                    <div class="input-field">
                        <input type="submit" class="submit" value="Giriş">
                    </div>
                    <div class="sign-in">
                        <span>Hesabınız var mı? <a routerLink="/kurumsal-giris">Giriş</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>