<div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-6 side-image">
                <img src="/matchwise-yazisiz.png">
                <div class="text">
                    <p>HOŞGELDİNİZ</p>
                </div>
            </div>
            <div class="col-md-6 right">
                <div class="input-box">
                    <header>Giriş</header>
                    <div class="input-field">
                        <input #txtEmail type="text" class="input" id="email" autocomplete="off" required>
                        <label for="email">
                            <i class='bx bxs-envelope'></i>
                            <span>Email</span>
                        </label>
                    </div>
                    <div class="input-field">
                        <input #txtPassword type="password" class="input" id="password" autocomplete="off" required>
                        <label for="password">
                            <i class='bx bxs-lock-alt'></i>
                            <span>Şifre</span>
                        </label>
                    </div>
                    <div class="input-field">
                        <input type="button" class="submit" value="Giriş"
                        (click)="login(txtEmail.value, txtPassword.value)">
                    </div>
                    <div class="sign-in">
                        <span>Hesabınız yok mu? <a routerLink="/kurumsal-kayit">Kayıt Ol</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>