<!-- SIDEBAR START -->
<aside class="sidebar">
    <div class="sidebar-header">
        <h2>MATC<span class="difficult-color">WISE</span></h2>
    </div>
    <ul class="sidebar-links">
        <h4>
            <span></span>
        </h4>
        <li>
            <a routerLink="corporations" routerLinkActive="active">
                <i class='bx bx-grid-alt'></i>
                Kurumlar
            </a>
        </li>
        <li>
            <a routerLink="add-corporation" routerLinkActive="active">
                <i class='bx bx-grid-alt'></i>
                Kurum Ekle
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-group'></i>
                Mülakat Ekle
            </a>
        </li>
        <h4>
            <span>Diğer</span>
        </h4>
        <li>
            <a href="#">
                <i class='bx bx-user'></i>
                Profilim
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-cog'></i>
                Ayarlar
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-log-out'></i>
                Çıkış
            </a>
        </li>
    </ul>

    <div class="user-account">
        <div class="user-profile">
            <img src="/enes_yalcin.jpeg" alt="profile-image">
            <div class="user-detail">
                <h3>Enes YALÇIN</h3>
                <span>Bilgisayar Mühendisi</span>
            </div>
        </div>
    </div>
</aside>
<!-- SIDEBAR END -->


<!-- NAVBAR START -->
<div class="main-content">
    <div class="header-wrapper">
        <div class="header-title">
            <h2>Enes YALÇIN</h2>
            <span>Bilgisayar Mühendisi - Matchwise Kurucu Ortağı</span>
        </div>
        <div class="user-info">
            <div class="search-box">
                <i class='bx bx-search'></i>
                <input type="text" placeholder="Ara">
            </div>
            <img src="/enes_yalcin.jpeg" alt="">
        </div>
    </div>

    <router-outlet></router-outlet>
</div>
<!-- NAVBAR END -->