<!-- HOME START -->
<section class="home" id="home">
    <div class="home-content">
        <h1>MATCHWISE</h1>
        <h3 class="text-animation"><span></span></h3>
        <p>Yapay zeka ile güçlendirilmiş bu platform, sizi klasik mülakatların ötesine taşıyor.
            Gerçek zamanlı analiz, akıllı soru yönlendirmeleri ve objektif değerlendirme sistemi ile kendinizi en iyi şekilde ifade edin.</p>


        <div class="btn-group">
            <a href="#" class="btn">Mülakatlar</a>
        </div>
    </div>

    <div class="home-img">
        <img src="/matchwise.png">
    </div>
</section>
<!-- HOME END -->
