<div class="body">
    <div class="overlay"></div>
    <div class="box">
        <div class="container">
            <div class="top-header">
                <header>Kayıt Ol</header>
            </div>
            <div class="input-field">
                <i class='bx bxs-detail'></i>
                <input type="text" class="input" placeholder="Ad Soyad">
            </div>
            <div class="input-field">
                <i class='bx bxs-envelope'></i>
                <input type="text" class="input" placeholder="Email">
            </div>
            <div class="input-field">
                <i class='bx bxs-lock-alt'></i>
                <input type="password" class="input" placeholder="Şifre">
            </div>
            <div class="input-field">
                <input type="submit" class="submit" value="Kayıt Ol">
            </div>
            <div class="sign-in">
                <span>Hesabınız var mı? <a routerLink="/bireysel-giris">Giriş</a></span>
            </div>
        </div>
    </div>
</div>