<div class="body">
    <div class="login-box">
        <div class="login-header">
            <header>Kayıt Ol</header>
        </div>
        <div class="input-box">
            <input type="text" class="input-field" placeholder="Ad Soyad" autocomplete="off" required>
        </div>
        <div class="input-box">
            <input type="text" class="input-field" placeholder="Email" autocomplete="off" required>
        </div>
        <div class="input-box">
            <input type="password" class="input-field" placeholder="Password" autocomplete="off" required>
        </div>
        <div class="input-submit">
            <button class="submit-btn" id="submit"></button>
            <label for="submit"><span>Kayıt Ol</span></label>
        </div>
        <div class="sign-up-link">
            <p>Hesabınız var mı? <a href="#">Giriş</a></p>
        </div>
    </div>
</div>