<router-outlet />


<ngx-spinner size="medium" name="s1" type="cog" color="var(--main-color)">
    <p style="font-size: 20px; color: var(--main-color)">Lütfen bekleyiniz...</p>
</ngx-spinner>

<ngx-spinner size="medium" name="s2" type="square-jelly-box" color="var(--main-color)">
    <p style="font-size: 20px; color: var(--main-color)">Lütfen bekleyiniz...</p>
</ngx-spinner>

<ngx-spinner size="medium" name="s3" type="ball-scale-ripple-multiple" color="var(--corporate-main-color)">
    <p style="font-size: 20px; color: var(--corporate-main-color)">Lütfen Bekleyiniz...</p>
</ngx-spinner>
