<footer class="footer">
    <div class="social">
        <a href="#" target="_blank">
            <i class='bx bxl-instagram'></i>
        </a>
        <a href="#" target="_blank">
            <i class='bx bxl-youtube'></i>
        </a>
        <a href="#" target="_blank">
            <i class='bx bxl-twitter'></i>
        </a>
        <a href="#" target="_blank">
            <i class='bx bxl-meta'></i>
        </a>
    </div>

    <ul class="list">
        <li>
            <a href="#home">Anasayfa</a>
        </li>
        <li>
            <a href="#services">Hizmetler</a>
        </li>
        <li>
            <a href="#interviews">Mülakatlar</a>
        </li>
        <li>
            <a href="#our-team">Ekibimiz</a>
        </li>
        <li>
            <a href="#contact">İletişim</a>
        </li>
    </ul>

    <p class="copyright">&copy; <span>MATCHWISE</span> | Tüm Hakları Saklıdır</p>
</footer>
