<header class="header">
    <a href="#home" class="logo">MATCH<span>WISE</span></a>

    <i class='bx bx-menu' id="menu-icon"></i>

    <nav class="navbar">
        <a href="#home" class="active">Anasayfa</a>
        <a href="#services">Hizmetler</a>
        <a href="#interviews">Mülakatlar</a>
        <a href="#our-team">Ekibimiz</a>
        <a href="#contact">İletişim</a>
        <div class="btn-group">
            <button class="btn main-btn" (click)="toggleLoginMenu()" *ngIf="!authService.isAuthenticated">Giriş Yap</button>
            <div class="login-dropdown" *ngIf="loginMenuOpen">
                <a routerLink="/kurumsal-giris" class="btn sub-btn">Kurumsal Giriş</a>
                <a routerLink="/bireysel-giris" class="btn sub-btn">Bireysel Giriş</a>
            </div>
            <button type="button" class="btn main-btn" *ngIf="authService.isAuthenticated" (click)="signOut()">Çıkış Yap</button>
        </div>
    </nav>
</header>